/*SCROLLBAR*/
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.01);
  }
/*SCROLLBAR*/

/*-------------------------------------------------------------------------------------*/

/*BASE*/
*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prompt', Arial, Helvetica, sans-serif;
  font-weight: 800;
}

a{
  text-decoration: none;
}
/*BASE*/

/*-------------------------------------------------------------------------------------*/

/*HEAD*/
iframe{
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

header{
  width: 100%;
  display: flex;
  justify-content: center;
}

header ul li{
  float: left;
  padding: 3rem;
  list-style-type: none;
}

nav{
  width: 100%;
  height: 6rem;
  padding: 0 2rem 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

header ul li a{
  color: black;
  font-size: larger;
  transition: 0.2s;
  background-color: white;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 2rem;
}

header ul li a:hover{
  color: white;
  background-color: black;
}

#pad{
  margin-right: 1rem;
}

header div a img{
  width: 3rem;
  border-radius: 50%;
}

#pp{
  width: 4.5rem;
  margin-top: 0.5rem;
}
/*HEAD*/

/*-------------------------------------------------------------------------------------*/


/*SECTION1*/
#section1{
  width: 25%;
  margin-left: 3rem;
  margin-top: 15rem;
  color: white;
  position: absolute;
}
#section1 h1{
  font-size: 2.3rem;
}
#section1 h2{
  font-size: 1.3rem;
}
#section1 p{
  margin-top: 2rem;
  width: 120%;
}
/*SECTION1*/


@media (width <= 1070px){
  nav{
    width: 100%;
    height: 7rem;
    padding: 0 0.5rem 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
  }
  header ul{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 1rem 0 1rem;
  }

  header ul li{
    float: left;
    padding: 0 2% 0 2%;
    list-style-type: none;
  }
  header ul li a{
    color: black;
    font-size: larger;
    transition: 0.2s;
    background-color: white;
    padding: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border-radius: 2rem;
    font-size: 1rem;
  }
  .reseaux{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
  }

  /*--------------------------*/

  #section1{
    width: 40%;
    margin-left: 3rem;
    margin-top: 15rem;
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    border-radius: 1rem;
  }
  #section1 h1{
    font-size: 1.4rem;
  }
  #section1 h2{
    font-size: 0.8rem;
  }
  #section1 p{
    margin-top: 1rem;
    font-size: 0.8rem;
    width: 100%;
  }
  
}