body{
    font-family: 'Kanit', sans-serif;
    margin: 0;
    background: url("images/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: left top;*/
}

.rouge{
    color: red;
    font-weight: bold;
}

form{
    background-color: white;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    border-radius: 1rem;
    padding: 20px;
    box-shadow: 0px 0px 10px 1px rgb(99, 99, 99);
}

h1{
    margin-top: 0;
}

form + div{
    margin-top: 2rem;
    text-align: center;
}

form + div > a{
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}

form + div > a:hover{
    text-decoration: underline;
}

form > div{
    margin-top: 1rem;
}

label{
    width: 5rem;
    display: inline-block;
}

form > h1{
    text-align: center;
}

form > div:last-child{
    text-align: center;
    padding: 1rem;
}

input[type="submit"], input[type="reset"]{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3rem;
}

input[type="submit"]:hover, input[type="reset"]:hover{
    background-color: rgb(129, 129, 129);
}

input[type="submit"]{
    margin-left: 1rem;
}

input[type="submit"]:active, input[type="reset"]:active{
    background-color: rgb(65, 65, 65);
}

input{
    font-family: 'Kanit', sans-serif;
}

input[type="email"]{
    width: 300px;
}