body{
    background-color: rgb(40, 40, 40);
    font-family: 'Roboto', sans-serif;
    font-size: 2.1vh;
}

#menutop{
    display: flex;
    padding: 1vh;
    text-align: center;
    background-color: black;
    margin: -1.3vh;
    justify-content: left;     /* Alignements des liens dans le menu */
}

#menutop li{
    list-style-type: none;
    padding-left: 2vh;
}

.lesli{
    display:block;                /* Transformation en block */
    min-width: 0px;              /* Largeur minimale des liens */   
    text-align: center;           /* Centrage du texte */   
    color: white;
    text-decoration: none;        /* Suppression du soulignement */
    margin-top: 2.5vh;
}

ul li a:hover{
    color: rgb(220, 0, 0);
}

@font-face {
	font-family: 'Roboto';
	src: url(‘/fonts/Roboto-Regular.woff2’) format(‘woff2’),
		url(‘/fonts/Robot-Regular.ttf’) format(‘truetype’)
}