*{
	font-family: 'Nunito', Verdana, Tahoma, sans-serif,
}

/*Helvetica, Arial, sans-serif*/


@font-face {
	font-family: 'cakecafe';
	src: url(‘fonts/Cakecafe.woff2’) format(‘woff2’),
		url(‘fonts/Cakecafe.ttf’) format(‘truetype’)
}

.carousel-item img{
	border-radius: 20px;
}

/*Bouton*/

.bouton{
	margin-top: -40%;
	display: block;
	background-color: #719fee;
	border-radius: 10px;
	border: 4px double #1f69ec;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	width: 200px;
	cursor: pointer;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.bouton:hover{
	background-color: #ffffff;
	border: 2px solid #1f69ec;
	box-shadow: 10px 5px 5px #719fee;
	color: #1f69ec;
	text-align: center;
	font-size: 22px;
}

/*Bouton*/

/*SCROLLBAR*/
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(50, 50, 50) rgb(205, 205, 205);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(205, 205, 205);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(50, 50, 50);
  }
/*SCROLLBAR*/

p{
	padding: 2%;
}

@import url("https://fonts.googleapis.com/css?family=Saira+Extra+Condensed");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
	letter-spacing: 1px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) -10%, rgba(0, 0, 0, 0) 100%);
  text-align: center;
  font-size: 1.25rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#navbar{
	display: flex;
  justify-content: center;
	align-items: center;
}

#navbar li {
  gap: 1rem;
}

#navbar a {
  position: relative;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-links a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 1px;
  background-color: rgb(182, 55, 43);
  transition: transform 250ms;
}

.nav-links a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.pheader{
	color: white;
	right: 2rem;
	text-align: center;
	line-height: 200%;
  margin: 2rem;
  margin-left: 80%;
}

.pheader img{
  width: 3rem;
}

h2{
	margin-top: -5%;
	text-align: center;
	font-family: 'Nunito';
	font-size: 1rem !important;
	color: white;
	letter-spacing: 0.4em;
	line-height: 170%;
}

#carouselExampleCaptions{
	width: 70%;
	margin-left: 15%;
	margin-top: 10rem;
}

#carouselExampleCaptions img{
  border-radius: 20px;
}

@font-face {
	font-family: 'Nunito';
	src: url(‘fonts/Hey-Comic.woff2’) format(‘woff2’),
		url(‘fonts/Hey-Comic.ttf’) format(‘truetype’)
}

/*anim apparition*/
.vignets {
    
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari et Chrome */
    -o-animation: fadein 1s; /* Opera */
}


/*anim apparition*/


body{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/back.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Nunito', Verdana, Tahoma, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    width: 100%;
    height: 110vh;
}

.streetaly{
  width: 100%;
	display: flex;
	justify-content: center;
  margin-top: 7rem;
}

.streetaly h1{
	color: white;
	font-size: 4rem;
	font-family: 'Fasthand', cursive;
}

.streetaly span{
	color: rgb(182, 55, 43);
	margin-left: 7rem;
	text-align: center;
	font-family: 'Dancing Script', serif;
	font-size: 7rem;
	font-weight: bold;
	white-space: nowrap;
}

#navbar li{
    padding: 3%;
	  letter-spacing: 1px;
}

#navbar li a{
    color: white;
    font-family: 'Nunito';
    font-size: 1rem;
}

#navbar li a:hover{
    /*color: rgb(0, 156, 223);
    transition: 0.5s;*/
	color: rgb(182, 55, 43);
    text-decoration: none;
	transition: 0.2s;
}

#navbar li a:active{
    color: rgb(132, 41, 33);
    text-decoration: none;
	transition: 0.1s;
}

.contenu{
  margin-top: 20%;
  margin-left: 15%;
  margin-right: 15%;
  animation: slide-in 0.5s ease-out;
  text-align: justify;
}

@keyframes slide-in{
	from{
		opacity: 0;
		transform: translateX(-50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.presentation{
  margin: 10rem 12rem 0 12rem;
  background: #301d1b;
  color: white;
  border-radius: 1rem;
  padding: 2rem;
}

p, .contenu h5{
  margin-left: 3%;
}

.contenu p{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
}

.bandeau{
  background: url('images/baniere.jpg');
  background-size: cover;
  background-position: center;
  height: 30rem;
}

.banniere{
  margin-top: 10rem;
}

.banniere > div > a{
  text-decoration: none;
}

.banniere div:last-child{
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: -25rem;
  display: flex;
  justify-content: space-between;
}

.banniere iframe{
  width: 20rem;
  height: 20rem;
  border-radius: 0.5rem;
}

.banniere a{
  width: 12rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s;
  border: white 2px solid;
  border-radius: 1rem;
  background-color: #301d1b;
  padding: 0.5rem 0.2rem 0.5rem 0.2rem;
}

.banniere a:hover{
  color: #301d1b;
  background-color: white;
  border: #301d1b 2px solid;
}

#basdepage{
  margin-top: 15rem;
  width: 100%;
  bottom: -1px;
  padding: 2%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #140d0d;
  color: white;
  list-style: none;
}

#precsuiv{
	padding: 5%;
	text-align: center;
	margin-bottom: 5%;
}

#navbtn{
  display: none;
}

#navbar > ul{
  transition: 0.2s;
}
.nav-links{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  margin: 0.5rem 0 0 0;
}
.nav-links li a{
  margin: 0 1.5rem 0 0;
  text-align: center;
}

@media (max-width: 1200px) {
  body{
    background-position: fixed;
  }
  #navbar{
    display: block;
  }
  #navbar > div{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: white;
    justify-content: space-between;
    height: 5rem;
    padding: 1rem;
    z-index: 100;
  }
  #navbar > a{
    padding: 1rem;
  }
  #navbar li a{
    color: black;
  }
  .nav-links{
    width: 100%;
    margin-top: -12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  #navbar > ul > li{
    padding: 1rem;
  }
  .nav-links.active{
    margin-top : -1px;
  }
  #nav-btn{
    display: block;
  }
  .burger-icon span {
    display: block;
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 10px 0;
    transition: 0.2s;
  }
  #nav-btn.active .burger-icon span{
    width: 30px;
  }
  #nav-btn.active .burger-icon span:first-child{
    transform: rotate(45deg) translateY(9px);
  }
  #nav-btn.active .burger-icon span:nth-child(2){
    transform: rotate(-45deg) translateY(-9px);
  }
  #nav-btn.active .burger-icon span:last-child{
    transform: rotate(-45deg) translateY(-18px) translateX(9px);
    height: 2px;
  }
  .streetaly h1{
    font-size: 3rem;
  }
  .streetaly span{
    font-size: 5rem;
  }
  .pheader{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 4rem;
    margin: 0;
  }
  .pheader img{
    width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 700px) {
  .streetaly h1{
    font-size: 2.5rem;
  }
  .streetaly span{
    font-size: 4rem;
    margin-left: 3rem;
  }
  .banniere div:last-child{
    margin: 0;
    margin-top: -28rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  .banniere iframe{
    width: 15rem;
    height: 15rem;
  }
  .presentation{
    margin: 10rem 2rem 0 2rem;
    padding: 1rem;
  }
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}